<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queries</title>
    <link rel="icon" href="{{static}}/static/Icon.jpeg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        nav ul{
            margin-left: auto;
        }

        nav ul li{
            margin: 0px 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-secondary bg-dark">
        <div class="navbar-brand">
            <img src="{{static}}/static/Icon.jpeg" class="rounded-circle" alt="Logo" style="height: 50px;width: 50px;">
        </div>

        <div class="container">
            <h3 style="color: antiquewhite;">HEAD OF DEPARTMENT</h3>
        </div>

        <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="../" class="btn btn-primary">Home</a>
            </li>
            <li class="navbar-item">
                <a href="/logout/" class="btn btn-danger">Logout</a>
            </li>
        </ul>   
    </nav>

    <div class="container">
        <table class="table table-borderless table-hover">
            <tr>
                <th>Name</th>
                <th>Queries</th>
                <th>Related Faculty</th>
            </tr>
            {% if data %}
                {% for info in data %}
                    <tr>
                        <td>{{info.name}}</td>
                        <td>{{info.query}}</td>
                        <td>{{info.faculty}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No Data Yet!!</td>
                </tr>
            {% endif %}
        </table>
    </div>
</body>
</html>