<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="{{static}}/static/Icon.jpeg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        nav{
            height: 100%;
            background-color:lightblue;
        }

        #rotate{
            margin: 100% 0;
            padding-top:40%;
            writing-mode: vertical-lr;
            height: 100%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 50px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="row">
        <nav class="col-sm-3">
            <ul class="navbar navbar-expand-sm" style="margin-left: 100px;">
                <div class="container">
                    <h4 id="rotate">About us</h4>
                </div>
            </ul>
        </nav>
        <div class="col-sm-9">
            <div class="contianer">
                <h1>Meet the Developers</h1>
            </div>
            <div class="container mt-3">
                <div class="media border p-3">
                       <img src="{{static}}/static/About us/img_avatar6.png" alt="" class="mr-3 mt-3 rounded circle" style="width: 60px;">
                       <div class="media-body">
                               <h4>Aashi Jain<small><i> Designers</i></small></h4>
                               <p>Mainly focused on frontend and Database designing</p>
                       </div>
                </div>
            </div> 
            <div class="container mt-3">
                <div class="media border p-3">
                       <img src="{{static}}/static/About us/img_avatar1.png" alt="" class="mr-3 mt-3 rounded circle" style="width: 60px;">
                       <div class="media-body">
                               <h4>Ishaan Pathak<small><i> Designers</i></small></h4>
                               <p>Mainly focused on frontend and Interface designing</p>
                       </div>
                </div>
            </div> 
            <div class="container mt-3">
                <div class="media border p-3">
                       <img src="{{static}}/static/About us/img_avatar1.png" alt="" class="mr-3 mt-3 rounded circle" style="width: 60px;">
                       <div class="media-body">
                               <h4>Tanmay Sharma<small><i> Designers</i></small></h4>
                               <p>Mainly focused on frontend and Database designing</p>
                       </div>
                </div>
            </div>
                
            <div class="container mt-3" style="margin-left: 50px;">
                <button type="button" class="btn btn-success" style="width: 75px;height: 50px;"><a href="../" style="text-decoration: none; color: white;">Home</a></button>
            </div>
        </div>
    </div>
</body>
</html>